body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input[type="text"], select, input[type="date"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="text"]:focus, select:focus, input[type="date"]:focus {
    outline: none;
    border-color: #5cb85c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

.priority-high {
    border-left: 5px solid #d9534f;
}

.priority-medium {
    border-left: 5px solid #f0ad4e;
}

.priority-low {
    border-left: 5px solid #5bc0de;
}

.delete, .complete {
    background-color: #d9534f;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.complete {
    background-color: #5cb85c;
}

#searchInput {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}
